{block subMenu}
<span class="sub_menu_item"><a href="#">Položka 1</a></span>
<span class="sub_menu_item"><a href="#">Položka 2</a></span>
{/block}
{block content}
<div class="app_info">
{$info['version']}<br />
{$info['upgrade']}<br />
{$info['author']}<br />
</div>