{block subMenu}
<span class="sub_menu_item"><a href="#">Položka 1</a></span>
<span class="sub_menu_item"><a href="#">Položka 2</a></span>
{/block}
{block content}

<table class="Table">
	<thead><th class="usersTableborder">{_"Article_type"}</th><th class="usersTableborder">{_"Count"}</th></thead>
	<tbody>
		
		<tr n:class="even">
			<td class="usersTableborder">{_"News"}</td>
			<td class="usersTableborder">{$item->news}</td>
		</tr>
                <tr n:class="odd">
			<td class="usersTableborder">{_"Articles_Category"}</td>
			<td class="usersTableborder">{$item->articlesC}</td>
		</tr>
                <tr n:class="even">
			<td class="usersTableborder">{_"Articles"}</td>
			<td class="usersTableborder">{$item->articles}</td>
		</tr>
                <tr n:class="odd">
			<td class="usersTableborder">{_"Users"}</td>
			<td class="usersTableborder">{$item->users}</td>
		</tr>
		
	</tbody>
</table>