{block content}
<h1>{block title}Authorized access for the user "{$user_name}"{/block}</h1>

{if count($access)}<table class="Table">
    <tr><th class="usersTableborder">Resources</th><th class="usersTableborder">Privileges</th><th class="usersTableborder">Access</th></tr>
    {foreach $access as $acces}
    <tr n:class="$iterator->isOdd() ? odd : even"><td class="usersTableborder">{$acces['resource']}</td><td class="usersTableborder">{$acces['privileg']}</td><td class="usersTableborderc"><img src="{$basePath}/images/true.gif" width="20" height="20" alt="True icon" /></td></tr>
    {/foreach}
</table>{/if}