{block content}
<h1>{block #title}{_"All Users"}{/block} <a href="{plink Users:add}"><img src="{$basePath}/images/add.gif" height="19" width="19" title="Add user" alt="Add icon" /></a></h1>

{$form->render('begin')}
{$form->render('errors')}
<table class="Table">
    <tr><th>{$form['name']->getLabel()}</th><td>{$form['name']->getControl()}</td><td>{$form['search']->getControl()}</td></tr>
    <tr><td></td><td colspan="2">{_"Examples:"} "John Doe", "John*", "%Doe"</td></tr>
</table>
{$form->render('end')}

{widget vp}

<table class="Table">
	<thead><th class="usersTableborder">{_"Name"}</th><th class="usersTableborder">{_"Group"}</th><th class="usersTableborder">&nbsp;</th></thead>
	<tbody>
		{foreach $users as $id => $user}
		<tr n:class="$iterator->isOdd() ? odd : even">
			<td class="usersTableborder">{$user['name']} </td>
			<td class="usersTableborder">
				{if count($user['roles'])}{foreach $user['roles'] as $role}{$role}{if !$iterator->isLast()}, {/if}{/foreach}{else}&nbsp;{/if}
			</td>
			<td class="usersTableborderc">
				<a href="{plink Users:edit, $id}"><img src="{$basePath}/images/edit.gif" height="19" width="19" title="Edit user" alt="Edit icon" /></a>
				<a href="{plink Users:access, $id}"><img src="{$basePath}/images/access.gif" height="20" width="20" title="Show access for this user" alt="Access icon" /></a>
				<a href="{plink Users:delete, $id}"><img src="{$basePath}/images/delete.gif" height="19" width="19" title="Delete user" alt="Delete icon" /></a>
			</td>
		</tr>
		{/foreach}
	</tbody>
</table>

{widget vp}