{block subMenu}
<span class="sub_menu_item"><a href="{link Users:}">{_"SMSummaryUsers"}</a></span>
<span class="sub_menu_item"><a href="{link Users:allUsers}">{_"SMAllUsers"}</a></span>
<span class="sub_menu_item"><a href="{link Users:browseGroups}">{_"SMGroups"}</a></span>
{/block}
{block content}
<h1>{_"All Users"}</h1>
<table class="usersTable">
	<thead>
		<tr>
			<th class="usersTableborder">{_"Name"}</th><th class="usersTableborder">{_"Group"}</th><th class="usersTableborder">&nbsp;</th><th class="usersTableborder">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{foreach $users as $user}
			<tr n:class="$iterator->isOdd() ? odd : even">
				<td class="usersTableborder">{!$user['name']}</td><td class="usersTableborder">{foreach $user['roles'] as $role}{$role}{if !$iterator->isLast()}, {/if}{/foreach}</td><td class="editUser"></td><td class="usersTableborder">Delete</td>
			</tr>
		{/foreach}
	</tbody>
</table>