{block subMenu}
<span class="sub_menu_item"><a href="{link Users:}">{_"SMSummaryUsers"}</a></span>
<span class="sub_menu_item"><a href="{link Users:allUsers}">{_"SMAllUsers"}</a></span>
<span class="sub_menu_item"><a href="{link Users:browseGroups}">{_"SMGroups"}</a></span>
{/block}
{block content}