<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="description" content="Nette Framework web application skeleton">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>Nette Application Skeleton</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/admin.css" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.js"></script>
	{block head}{/block}
</head>

<body>
	<div id="head_pack">
		<div id="top_head">
			<div id="head_top_left">
				{_"Administration"}
			</div>
			<div id="head_top_right"></div>
		</div>
		<div id="menu_pack">
			<div id="main_menu">
				<div id="main_menu_left">
					<span class="menu_item"><a href="{link :Administration:Home:}">{_"@Home"}</a></span>
					<span class="menu_item"><a href="{link Users:default}">{_"@Users"}</a></span>
					<span class="menu_item"><a href="{link :Administration:Content:}">{_"@Content"}</a></span>
				</div>
				<div id="main_menu_right">
					<span class="menu_item"><a href="#">{_"My Account"}</a></span>
					<span class="menu_item_signOut"><a  href="{if $user->isLoggedIn()}{link Sign:out}{else}#{/if}">{_"Sign Out"}</a></span>
				</div>
			</div>
			<div id="sub_menu">
				<span class="menu_item"><a href="{plink //Users:default}">{_"SMUsers"}</a></span>
				<span class="menu_item"><a href="{plink //Permission:}">{_"SMPermission"}</a></span>
				<span class="menu_item"><a href="{plink //Roles:}">{_"SMRoles"}</a></span>
				<span class="menu_item"><a href="{plink //Resources:}">{_"SMResources"}</a></span>
				<span class="menu_item"><a href="{plink //Privileges:}">{_"SMPrivileges"}</a></span>
			</div>
		</div>
		<div class="cleaner"></div>
	</div>
			<div class="cleaner"></div>
	<div id="content_pack">
	<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	{include #content}
	</div>
</body>
</html>
