{block title}Access of role {$role}{/block}
{block content}
{include './default.phtml'}

<h2>Authorized access for the role "{$role}"</h2>

{if count($access)}<table cellspacing="0" cellpadding="5">
    <tr><th>Resources</th><th>Privileges</th><th>Access</th></tr>
    {foreach $access as $acces}
    <tr><td>{$acces['resource']}</td><td>{$acces['privileg']}</td><td class="center"><img src="{$basePath}/images/true.gif" width="20" height="20" alt="True icon" /></td></tr>
    {/foreach}
</table>{/if}