{block content}
<h1>{block #title}Roles{/block} <a href="{plink Roles:add}"><img src="{$basePath}/images/add.gif" height="19" width="19" title="Add role" alt="Add icon" /></a></h1>
<div class="tree">
    {include './treeView.phtml'}
</div>